.five-day-component {
    padding: 20px;
    background-color: #e0f7fa;
}   

.component {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input {
    align-items: center;
    justify-content: center;
}

input {
    padding: 8px;
    width: 70%;
    margin-right: 10px;
}

.input button {
    padding: 8px;
    white-space: nowrap;
    background-color: #ccc;
    color: #000000;
}

.input button:hover {
    opacity: .8;
}

.error {
    color: red; 
}

img {
    width: 40px;
    height: 40px;
}

.forecast-component {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: auto;
}

.day {
    text-align: center;
}

.day:hover {
    background-color: #e0f7fa;
}

.weather-info {
    display: flex;
    flex-direction: column;
}


.label {
font-weight: bold; /* Makes the label text bold */
margin-bottom: 5px; /* Adds some space between label and data */
}

.data {
font-size: 16px; /* Adjust the size of the data text */
}