/* Wardrobe's styles */
.wardrobe {
  padding: 20px;
  box-sizing: border-box; /* Ensures padding doesn't affect layout */
  background-color: #f5f5ff; /* Very light purple hint */
}

/* Scroll layout for wardrobe items */
.wardrobe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wardrobe-container > div {
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* Optional: Add focus styles for better UX */
.wardrobe input[type="text"]:focus {
  outline: 2px solid #007bff; /* Highlight input field on focus */
  outline-offset: 2px;
}

.on-top {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.on-top .type-filter, .weather-filter {
  display: block;
  padding: 5px 10px; /* Adjust padding for better height alignment */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-width: 300px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding is part of width */
  height: 35px; /* Slightly adjust to match button height */
}

.on-top button {
  height: fit-content;
}

.add-button, .create-button, .unselect-button, .select-button {
  background-color: #007bff;
}

.on-top .delete-button {
  background-color: #ff4d4f;
}

.custom-outfits-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));

  gap: 15px;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-outfit {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.outfit-info {
  width: 20%;
}

.outfit-images {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: 10px;
  overflow-y: auto;
}

.clothing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.outfit-images img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 4px;
}